<h2> 식물 할당 시험페이지</h2>

<br>
<br>

<form action="/api/admin/plant/update" method="post">
    <div>아이디</div>
    <input type="text" id="id" name="id">
    <div>ip주소</div>
    <input type="text" id="ipaddress" name="ipaddress">
    <div>유저코드</div>
    <input type="text" id="userENT" name="user_id">
    <button type="submit">submit</button>
</form>